/***************************************************
    External Style Sheet for logon framework
    ***
    define the default style of page as logon.php clicked
****************************************************/

#list_title {
	  font-size:24px;
	  font-family:'Ó×Ô²';
	  font-weight:600;
	  color:rgb(90,90,90);
	  text-indent:0.8em;
	  letter-spacing:2px;
	}
#list_sept {
	  /*border-style:double;
	  border-width:thin;
	  margin-bottom:10px;
    border-color:rgb(90,90,90);*/
	  margin-left:20px;
	  margin-right:20px;
	}
	
.list_item {
	  font-size:18px;
	  font-family:'Ó×Ô²';
	  font-weight:590;
	  color:rgb(90,90,90);
	  line-height:25pt;
	}
	
.list_item span {
	  font-size:12px;
	  font-family:'ËÎÌå';
	  font-weight:normal;
	  color:rgb(100,110,100);
	}