
/***************************************************
    External Style Sheet for logon framework
****************************************************/

#setpwd_main {
	  background-color:rgb(0,120,216);
	  height:300px;
	  width:400px;
	  margin:auto auto;
	  border-style:none;
    border-radius:18px;
    border-color:rgb(0,120,216):
	  text-align:center;
	  position:relative;
	  top:80px;
	}
	
#setpwd_h1 {
	  font-family:'Ó×Ô²';
	  font-size:22px;
	  text-align:center;
	  color:white;
    padding-top:20px;
	}

#setpwd_u {
	  font-family:'ËÎÌå';
	  font-size:12px;
	  color:white;
    margin-bottom:-6px;
    padding:0px;
	  text-align:center;	
	  font-weight:normal;  
	}
	
#setpwd_hr {
	  border-color:gray;
	  margin:10px 10px 10px 10px;
	}
	
#setpwd_item {
	  /*border-style:dashed;
	  border-width:thin;*/
	  border-radius:8px;
	  margin:10px 10px 10px 10px;
	}
	
#setpwd_btn {
	  font-size:15px;	  
	  text-align:center;
	  border-style:none;
	}

#setpwd_submit,#setpwd_cancel {  
	  border-radius:6px;
	  margin:10px 10px 10px 10px;
	  font-family:'Ó×Ô²';
	  font-size:15px;
	  padding:5px 30px 5px 30px;
	  background-color:white;
	  cursor:pointer;
	}

.setpwd_t {
	  font-family:'Ó×Ô²';
	  font-size:15px;
	  text-align:right;
	  padding-top:5px;
	  padding-bottom:5px;
	  color:white;
	}
	
.setpwd_p {
	  font-family:'Ó×Ô²';
	  font-size:15px;
	  text-align:left;
	  padding-top:5px;
	  padding-bottom:5px;
	  color:white;
	}
	
